.tiny_profile_image {
    width: 35px;
    height: 35px;
    margin: 0 5px 5px 5px;
    border-radius: 50%;
}



.like_icon {
    color: green !important;
    font-size: 20px !important;
    margin: 0 5px !important;
}

.dislike_icon {
    color: red !important;
    font-size: 20px !important;
    margin: 0 5px !important;
}