{% extends '_base.html' %}
{% block content %}
<div class="profile-container">
    <h2>{{ profile.nikename}}'s Profile</h2>
    
    <div class="profile-picture">
      {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="{{ profile.nikename }}'s profile picture">
      {% else %}
        <p>No profile picture uploaded.</p>
      {% endif %}
    </div>

    <div class="profile-details">
      <p><strong>Email:</strong> {{ profile.user.email }}</p>
      <p><strong>Bio:</strong> {{ profile.bio }}</p>
     
    </div>

    <a href="{% url 'update_profile' %}" class="btn btn-primary">Edit Profile</a>
  </div>
{% endblock %}
